@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wingineers</h1>
</div>

    <tb>
        <h3><a href="/SalesPerson/Index">Overview: Salespersons</a></h3>
        <h3><a href="/OrderList/Index">Overview: Orders</a></h3>
    </tb>

