@model List<SalesPerson>
<h1>Current Sales persons available</h1>
<h3><a href="/SalesPerson/List">Update database</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <h2>The object to be displayed is null...</h2>

        }
        else
        {
            foreach (var salesPerson in Model)
            {
                <tr>
                    <td>@salesPerson.name</td>
                    <td><a href="@Url.Action("SalesPersonStats", "SalesPerson", new { id = salesPerson.id})">View Details</a>
                </tr>
            }
        }

    </tbody>
</table>